/*reset*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
html body {
	width: 100%;
	min-width: 480px;
}

/*header*/
.header {
	width: 100%;
	height: 60px;
	background: #333;
}

.header img {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

.header ul {
	float: right;
}

.header ul li {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.header li  a {
	color: #fff;
	text-decoration: none;
}

.header li  a:hover{
	color: #ccc;
}

/*footer*/
.footer {
	width: 100%;
	height: 70px;
	background: #000;
}

.copyright {
	color: #fff;
	line-height: 70px; 
	text-align:center;
}

/*main*/
.main {
	background: #dedede;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*aisde*/
.aside {
	width: 360px;
	background: #fff;
	position: absolute;
	top: 20px;
	right: 20px;
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
}

.aside h3 {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-left: 3px solid #dedede;
	margin-top: 20px;
	margin-left: 20px;
}

.aside .input {
	margin-top: 10px;
	position: relative;
}

.aside .input .prompt{
	width: 118px;
	display: inline-block;
	text-align: right;
	font-size: 12px;
	margin-right: 12px;
}

.aside .input p {
	font-size: 12px;
	color: #dedede;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 125px;
}

.submit {
	width: 320px;
	height: 40px;
	color: #fff;
	background: #3355d0;
	margin: 10px 20px 20px 20px;
	border-radius: 5px;
	border: 0px;
}

/*article*/

.article {
	margin-right: 400px;
	margin-bottom: 20px;
	margin-left: 20px;
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
	background: #fff;
	padding-top: 35px;
	padding-right: 20px;
	padding-bottom: 35px;
	padding-left: 20px;
}

.article h3 {
	padding-top: 20px;
	color: #dedede;
}

.article-author {
	padding-top: 15px;
	color: #dedede;
}

.article-info {
	text-indent: 2em;
	padding-top: 15px;
}

.article-img {
	padding-top: 20px;
}

.menu-list {
	list-style: none;
	padding-top: 15px;
	margin-left: 40px;
	margin-bottom: 40px;
}

.menu-list li {
	padding-bottom: 5px;
}

.img-comb {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 0;
}

.list-img {
	font-size: 14px;
	display: inline-block;
	margin: 20 20px 0 0;
	border: 1px solid #ccc;
}

.list-img-title {
	text-align: center;
	padding-top: 10px;
}

.list-img img {
	padding: 10px;
	width: 80px;
	height: 80px;
}

.article table {
	width: 100%;
}

.table-header {
	background: #333;
}

.table-footer {
	background: #dedede;
}