#container {
	display: flex;
	width: 1000px;
	height: 1000px;
	justify-content: flex-start;
	flex-flow: wrap;
}
/*给队列中的每个新添加的元素加上一个类*/
.queue {
	font-size: 12px;
	color: #fff;
	background: red;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	line-height: 30px;
	text-align: center;
}